<!DOCTYPE html>
<html>
<head>
  <title>WikiPku</title>
  <%= stylesheet_link_tag    "wiki_pku/application", media: "all" %>
  <%= javascript_include_tag "wiki_pku/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render "layouts/wiki_pku/common/header"%>
<%=render "layouts/wiki_pku/common/navbar"%>
<%= yield %>
<%=render "layouts/wiki_pku/common/footer"%>
</body>
</html>
