
<div class="l w-710 o-v">

	<div class="l w-270">
    	<div id="block_ctop1">
			<div id="reci" class="columns  reci " bid="1">
	<%if @blocks[0].present?%>
		<h2 class="col-h2"><%=@blocks[0].category.name%></h2>
		<%=link_to "更多>>", category_path(@blocks[0].category), class: "more"%>
		<%@blocks[0].category.entries.each do |entry|%>
		<dl class="col-dl ">
			<dt><%=user_avatar(current_user,:tiny ,width: 50)%>
				<%=link_to entry.name, entry_path(entry)%>
			</dt>
		</dl>
		<%end%>
	<%end%>
		</div>
		</div>
	</div>
	
	<div class="w-430 r">
    	<div id="block_ctop2"><div id="jcct" class="columns jcct " bid="2">
	<%if @blocks[1].present?%>
		<h2 class="col-h2"><%=@blocks[1].category.name%></h2>
		<%=link_to "更多>>", category_path(@blocks[1].category), class: "more"%>
		<%@blocks[1].category.entries.each do |entry|%>
		<dl class="col-dl ">
			<dt><%=user_avatar(current_user,:tiny ,width: 50)%>
				<%=link_to entry.name, entry_path(entry)%>
			</dt>
		</dl>
		<%end%>
	<%end%>
    
</div></div>
	</div>

<!--ad start -->


<!--ad end -->	
</div>
<div class="r w-230">
	<div id="block_right">
		<div id="zjpl" class="columns zjpl " bid="7">
			
	<%if @blocks[2].present?%>
		<h2 class="col-h2"><%=@blocks[2].category.name%></h2>
		<%=link_to "更多>>", category_path(@blocks[2].category), class: "more"%>
		<%@blocks[2].category.entries.each do |entry|%>
		<dl class="col-dl ">
			<dt><%=user_avatar(current_user,:tiny ,width: 50)%>
				<%=link_to entry.name, entry_path(entry)%>
			</dt>
		</dl>
		<%end%>
	<%end%>
	</div><div id="tjct" class="columns tjct i6-ff " bid="9">
	<%if @blocks[5].present?%>
		<h2 class="col-h2"><%=@blocks[5].category.name%></h2>
		<%=link_to "更多>>", category_path(@blocks[5].category), class: "more"%>
		<%@blocks[5].category.entries.each do |entry|%>
		<dl class="col-dl ">
			<dt><%=user_avatar(current_user,:tiny ,width: 50)%>
				<%=link_to entry.name, entry_path(entry)%>
			</dt>
		</dl>
		<%end%>
	<%end%>
	</div></div>
</div>
<div class="l w-710 o-v">
	<div class="l w-270">
    	<div id="block_cbottoml"><div id="zjgx" class="columns zjgx o-v " bid="6">
	<%if @blocks[3].present?%>
		<h2 class="col-h2"><%=@blocks[3].category.name%></h2>
		<%=link_to "更多>>", category_path(@blocks[3].category), class: "more"%>
		<%@blocks[3].category.entries.each do |entry|%>
		<dl class="col-dl ">
			<dt><%=user_avatar(current_user,:tiny ,width: 50)%>
				<%=link_to entry.name, entry_path(entry)%>
			</dt>
		</dl>
		<%end%>
	<%end%>
       </div></div>
	</div>
	<div class="w-430 r">
    <div id="block_cbottomr"><div id="block-pic-getlist-8" class="columns tpbk i6-ff " bid="8">
	<%if @blocks[4].present?%>
		<h2 class="col-h2"><%=@blocks[4].category.name%></h2>
		<%=link_to "更多>>", category_path(@blocks[4].category), class: "more"%>
		<%@blocks[4].category.entries.each do |entry|%>
		<dl class="col-dl ">
			<dt><%=user_avatar(current_user,:tiny ,width: 50)%>
				<%=link_to entry.name, entry_path(entry)%>
			</dt>
		</dl>
		<%end%>
	<%end%>
	</div></div>
	</div>
</div>


