<div class="top">
	<div class="top_r"></div>
</div>

<ul id="login" class="w-950 bor_b-ccc"> 
	<%if user_signed_in?%>
		<li class="bor_no pad10">欢迎你，<%=link_to current_user.username, wiki_pku.user_path(current_user)%></li>
		<li></li>
		<li><%=link_to "个人管理", wiki_pku.profile_user_path(current_user)%></li>
		<li><%=link_to "系统设置", rails_admin.dashboard_path, target: "_blank"%></li>
		<li class="bor_no"><%=link_to("退出", wiki_pku.destroy_user_session_path, method: :delete)%></li>
	<%else%>
		<li name="login"><%=link_to "登录", wiki_pku.new_user_session_path%></li>
		<li name="register" class="bor_no"><%=link_to "注册", wiki_pku.new_user_registration_path%></li>
	<%end%>
</ul>
<div id="header">
	<%=link_to image_tag("wiki_pku/logo.gif", width: 220), wiki_pku.root_path, id: "logo"%>
	<p id="search">
	<div class="topl">
</div>
<%= form_tag(wiki_pku.search_path, method: "get", class: "search_form") do %>
	<p id="search">
	<input name="q" class="btn_txt" maxlength="80" size="42" value="" type="text"/>
	<input tabindex="2" class="btn_inp enter_doc" type="submit"/>
		
	</p>
<% end %>
	
<div class="topr">
</div>